@model theking.Models.ViewModels.RentalsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RentalsViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<div>
    Name:
    @Model.Customer.FirstName
    @Model.Customer.LastName
    <br />
    Email Address:
    @Model.Customer.Email
    <br />
    DOB:
    @Model.Customer.DOB.Value.ToShortDateString()
    <br />
    ID num:
    @Model.Customer.IDnum
    <br />
    Member since:
    @Model.Customer.MemberSince.Value.ToShortDateString()
    <br />
    <hr />
    Car Details:
    @Model.Car.CarType
    @Model.Car.Make
    @Model.Car.Model
    @Model.Car.Color
    <br />
    Class:
    @Model.Car.Class
    <br />
    License Plate:
    @Model.Car.LicensePlate

    <hr />
    Date Taken:
    @Model.Rental.DateOut.Value.ToString("dd/MM/yyyy")
    <br />
    Return Date:
    @Model.Rental.DateIn.Value.ToString("dd/MM/yyyy")
    <br />
    Mileage when taken:
    @Model.Rental.MileageOut
    KMs
    <br />
    Mileage when returned:
    @Model.Rental.MileageIn
    KMs
    <br />
    KMs used:
    @Model.Rental.KMsUsed
    <br />
    Free KMs per day:
    @Model.Rental.FreeKMs
    <br />
    Days:
    @Model.Rental.Days
    <br />
    Total Free KMs:
    @{ var totalFree = Model.Rental.FreeKMs * Model.Rental.Days;}
    @totalFree
    <br />
    KMs over limit:
    @{ var overLimit = Model.Rental.KMsUsed - totalFree;}
    @overLimit
    <br />
    Price per KM over limit:
    @string.Format("{0:0.00}", Model.Rental.PriceKM)
    <br />
    Price per day:
    @string.Format("{0:0.00}", Model.Rental.PriceDay)
    <br />
    Total Price:
    @string.Format("{0:0.00}", Model.Rental.Price)
    <br />
    Season:
    @{ var season = (Model.Rental.SeasonHigh == true) ? "High" : "Low"; }
    @season
    <br />
    Notes:
    @Model.Rental.Notes
    <hr />


</div>
<p>
    @Html.ActionLink("List of all rentals", "Index")
    <br />

    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) 
</p>
